<section class="film-block">
  <h1 class="block-header">
    <span class="header-high-content">Лучшие</span>
    <span class="header-low-content">фильмы и сериалы 2016 года</span>
  </h1>
  <div class="description-block">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet dicta iure nam quaerat quos tempore! Adipisci aliquid animi asperiores aspernatur consequuntur doloremque ea esse eveniet facilis iste laboriosam laudantium magnam, molestiae nostrum, nulla numquam placeat porro quo ratione rerum, sequi suscipit ut vel voluptate voluptatem? Ad amet consectetur et porro?
  </div>
  <div ipSlider [sliderProperties]="SliderProperties" class="carousel">
      <div class="slider-item" ipSliderElement *ngFor="let item of filmsList" >
        <div class="slide-image" [ngStyle]="{ 'background-image': 'url( https://image.tmdb.org/t/p/w500/' + item?.poster_path + ')'}">
        </div>
        <div class="overlay">
          <h1 class="overlay-title">{{item?.original_title}}</h1>
          <div class="icons">
            <i class="material-icons thumbs-up orange600" (click)="likeMovie(item.genre_ids, item.release_date)">thumb_up</i>
            <i class="material-icons visibility orange600" (click)="openTestAreaForFilm(item.id)">visibility</i>
            <i class="material-icons thumbs-down orange600">thumb_down</i>
          </div>
        </div>
      </div>
  </div>
  <div class="fucking-nice-button">
    <a href="#" class="round yellow" (click)="getRecommendedFilms()">New 5<span class="round">Ирина Тимофеевна у нас тут кластерный анализ!!!</span></a>
  </div>
  <test-comp class="question-area" [styleProperty]="isTestAreaOpen ? 1 : 0" [testDataObject]="answerArray"></test-comp>
</section>
